# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.pem

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Sub directories to ignore
**/.temp/
**/.branches/
.env
.env.*
!.env.example

# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage/

# next.js
.next/
out/

# production
build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# turbo
.turbo

# typescript
*.tsbuildinfo
next-env.d.ts

/.github
test-results/
playwright-report/